*.iml
.gradle
/.gradle
/local.properties
.DS_Store
/build
/.idea
/zxing/build
/Aliyunplayer/player_demo/build
/captures
.externalNativeBuild
/AliyunVideoCommon/build
/AlivcLittleVideo/build
/Aliyunplayer/player_demo/build
/app/build
/app/fcg
/app/jx
/app/ltsj
/app/yjhlq
/app/mgfb
/app/zsls