<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shuangling.software">


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!--用于访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--用于写入缓存数据到扩展存储卡-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于申请获取蓝牙信息进行室内定位-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppThemeRed"
        tools:replace="android:icon,android:theme,android:label,android:allowBackup">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/photo_path">-->
            <!--</meta-data>-->

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>




        <activity
            android:name="com.shuangling.software.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:screenOrientation="portrait" >

            <intent-filter>
                <data
                    android:scheme="${APP_SCHEME}" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

        <activity
            android:name=".activity.StartupActivity"
            android:screenOrientation="portrait" >

        </activity>

        <activity
            android:name=".activity.GuidePageActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--避免桌面没有图标,所以多添加一个 intent-filter-->

            <!--android:host="shuangln.com"-->
            <!--android:pathPrefix="/openwith"-->

        </activity>


        <activity
            android:name=".activity.AlbumDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CityListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.ArticleDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.AudioDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SingleAudioDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>


        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.NewLoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>


        <activity
            android:name=".activity.ModifyUserInfoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.NewForgetPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.VerifyCodeLoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.NewVerifyCodeLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
            android:name=".activity.NewVerifyCodeBindPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>

        <activity
            android:name=".activity.BindPhoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>


        <activity
            android:name=".activity.NewAccountPasswordLoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>


        <activity
            android:name=".activity.SettingUserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize">
        </activity>
        <activity
            android:name=".activity.AnchorDetailActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.OrganizationDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.GalleriaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity
            android:name=".activity.SpecialDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name=".activity.RadioListActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.RadioDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.TvDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.AccountAndSecurityActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ModifyPasswordActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.PhoneBindActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.NewPhoneBindActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CommentDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.VideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CluesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.HistoryActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.CollectActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.SubscribeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MessageListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ServiceDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MoreServiceActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.ContentActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.WebViewBackActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.AttentionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.ModifyNicknameActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.AdvertActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MyWalletsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CashDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.CashActivity"
            android:screenOrientation="portrait" >
        </activity>



        <activity
            android:name="com.shuangling.software.activity.MoreAnchorOrOrganizationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.shuangling.software.activity.AnchorOrOrganizationDetailActivityH5"
            android:screenOrientation="portrait" >
        </activity>



        <service android:name="com.shuangling.software.service.AudioPlayerService" />
        <service android:name="com.amap.api.location.APSService"/>

        <receiver
            android:name="com.shuangling.software.push.MyAliPushMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${GD_KEY}" />


    </application>
</manifest>
